h1 {
    display: inline;
    float: left;
}

.nav-links li{
    display: inline-block;
    float: right;
}
.header-img{
    clear:both;
}
img {
    width: 100%;
}
body{
    margin: 0 auto;
    width:70%;
}
section{
    padding: 10px;
    width: 50%;
    float: left;
}

.main {
width: 70%;

}

.sub-section {
width: 30%;
}

* {
     box-sizing: border-box;
}