h1 {
    display: inline;
    float: left;
}

.nav-links li{
    display: inline-block;
    float: right;
}
.header-img{
    clear:both;
}
body{
    margin: 0 auto;
    width:50%;
}
section{
    float: left;
}

.main {
    width: 60%;
}

.sub-section {
    width: 40%;
}