* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

img {
    width: 100%;
}

section {
    text-align: justify;
}

.nav-links ul{


}
.nav-links li{
    list-style-type: none;
    background-color: #888;
    margin-bottom: 10px;
    text-align: center;
}



@media screen and (min-width:768px){
    * {
        box-sizing: border-box;
    }

    body{
        margin: 0 auto;
        width:70%;
    }

    h1 {
        display: inline;
        float: left;
    }

    img {
        width: 100%;
    }

    section{
        padding: 10px;
        width: 50%;
        float: left;
    }

    .nav-links li{
        display: inline-block;
        float: right;
        margin-left: 15px;
    }
    .header-img{
        clear:both;
    }


    .main {
        width: 70%;

    }

    .sub-section {
        width: 30%;
    }
}